* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #5E0F24;
    font-family: 'American Typewriter', serif;
    font-size: 48px;
    text-align: center;
}

.active {
    color: #a4193d;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
}

.category {
    display: grid;
    margin-right: 20px;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: 10px;
    background-color: #FFDFB9;
    border-radius: 10px;
    position: relative;
    border: #2E2E2E 2px solid;
    align-items: center;
    place-items: center;
}

#header {
    background-color: #FFDFB9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#menu {
    background-color: #a4193d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    display: block;
}

#main {
    background-color: #FFDFB9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    color: #2E2E2E;
    font-family: 'American Typewriter', serif;
    font-size: 18px;
    text-align: justify;
}

footer {
    background-color: #a4193d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}